body {
    font-size: 16px;

    font-family:'Playfair Display', serif,'Oswald',sans-serif;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;

}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}   
p{
    padding: 0;
    margin: 0;
}    
        /* //HEADER */
.header{
    padding: 70px 0 ;
}
.logo{
    background: url(../img/logo.svg) no-repeat center center;
    width: 258px;
    height: 63px;
    display: block;
}
.box__img{
    transition: .5s ease;
    color: black;
}
.box__img:hover{
    transform: scale(1.1);
    transition: .5s ease;
    color: black;
}
.box__img::before{
    content: '';
    background: url(../img/box-sms.png) no-repeat center center;
    width: 30px;
    height: 20px;
    margin-right: 20px;
}
.main-title{
    font-size: 40px;
    margin-top: 70px;
}
/* //SECTION MAIN */
.main__menu{
    
}
.main__link{
    background: #F4F4F8;
    max-width: 304px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
    display: block;
    padding: 20px 40px;
    text-align: center;
    color: black;
    transition:background.5s ease;
}
.main__link:hover{
     background: #96BD12;
     transition:background.5s ease;
}
.lyceum-programs{
    width: 350px;
    height: 490px;
    background: #96BD12;
}
.lyceum-programs{
    position: relative;
}
.lyceum-programs__text{
    color: black;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top:30%;
    left:14%;
    width: 265px;
    text-align: center;
}
/* // Section lot-of-ext */
.lot-of-ext{
    padding: 40px 0 100px;
}
.just-text__intro{
    letter-spacing: 0.03em;
    font-size: 22px;
    text-align: center;
}
.delimiter{
    display: block;
}
.directors__title{
    max-width: 480px;
    text-align: center;
    margin:30px auto;
    font-size: 22px;   
}
.directors__intro{
    letter-spacing: 0.03em;
    line-height: 30px;
    
}
.sociologists__title{
    text-align: center;
    margin: 30px 0 15px;
}
.change-color{
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}
.otpup{
    display: inline-block;
    margin-top: 30px;
    margin-right: 15px;
}
.book-main{
    margin: 100px 20px ;
    background: #F9F9F9;
    height: 280px;
}
.book-img{
    background: #F9F9F9;
    height: 280px;
    padding: 35px;
}
.book__btn{
    cursor: pointer;
    border: none;
    background: #96BD12;
    padding: 0 20px;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    transition:all .5s ease;
   
}
.book__btn::after{
    content: '';
    background: url(../img/btn-row.png) no-repeat center center;
    width: 35px;
    height: 19px;
    margin-left: 35px;
}
.book__btn:hover{
    opacity: 1;
    transition:all .5s ease;
    transform: scale(1.1);
}
.annotation{
    margin: auto;
    /*width: 330px;*/
    font-size: 22px;
    padding: 30px;
    font-weight: bold;
    text-align: center;
}
.book__title_text{
    font-weight: bold;
    font-size: 22px;
    background: #F9F9F9;
    padding: 20px;
    width: 500px;
}
.chenge-btn::after{
    content:none;
}
.chenge-btn{
    margin-left: 20px;
    width: 420px;
}
/* // FOOTER */
.footer{
    background: #7476FF;
    padding: 60px 0 20px;
}
.footer-logo{
    background: url(../img/footer-logo.svg)no-repeat center center;
    margin-left: -10px;
    width: 235px;
}
.footer__defender{
    color: white;
    display: flex;
    margin: 12px 0 35px;
}
.footer__row{
    display: block;
    background: url(../img/footer-row.png)no-repeat center center;
    width: 33px;
    height: 33px;
    margin: auto;
}
.footer__box{
    color: white;
}
.footer__box::before{
    content: '';
    background: url(../img/footer-box.png)no-repeat center center;
    width: 31px;
    height: 21px;
    margin-right: 15px;
}
.footer__call{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin: 20px 0 ;
    opacity: 0.8;
    transition:opacity .5s ease;
}
.footer__call::before{
    content: '';
    background: url(../img/footer-call.png)no-repeat center center;
    width: 30px;
    height: 28px;
    margin-right: 15px;
}
.footer__call:hover{
    opacity: 1;
    transition:opacity .5s ease;
}
.footer_link_text{
    width: 100px;
    transition:all .5s ease;
    font-family: 'Oswald', sans-serif;
}
.footer_link_text:hover{
    border-bottom:1px solid white ;
    transition:all .5s ease;
}
                    /*PAGE REGISTRATION*/
.registration-form{
    padding: 60px 0;

}
.registration{
    background: #E3E3E7;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    padding: 60px 0 ;
}
.registration__title{
    text-align: center;
    margin-bottom: 15px;
}
.form__input{
    width: 430px;
    height: 45px;
    outline: none;
    border: none;
    margin: 25px 0;
    font-size: 14px;
    color: #959090;
    padding-left: 20px ;
}
.form-btn{
    width: 440px;
    height: 55px;
    transition: all 0.5s ease;
    margin: auto;
}
.form-btn:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.form-btn::after{
    content: none;
}
.registration__treatment{
    margin: 150px 0 60px;
    position: relative;
}
.checkbox{
    display: none;
}
.fake{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: relative;
}
.fake::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 10px;
    height: 10px;
    background: #96BD12;
    opacity: 0;
    transition: .5s ease;
}
.registration__text{
    margin-left: 10px;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}
.enter{
    background: #F4F3F3;
    margin-left: -27px;
    height: 840px;
}
.enter__input{
    width:295px ;
    margin: 20px 0 10px;
}
.enter-btn{
    width: 295px;
    margin: 25px auto;
}
.enter__link{
    margin-left: 200px;
    color: #6D6D6D;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
}
.profile-recovery{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(60%,-55%);
    z-index: 10;
    width: 550px;
    background: #F4F3F3;
    text-align: center;
    padding: 80px 0 50px;
    display: none;
}
.form-active{
    display: block;
}
.form__enter{
    position: relative;
}
.close{
    position: absolute;
    top: 10%;
    right: 10%;
    border: none;
    cursor: pointer;
    background: url("../img/close.png")no-repeat center center;
    width: 30px;
    height: 30px;
}
.overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    position: fixed;
}
.modal-wrap{
    display: none;
    width: 100%;
    height: 100%;
}
.modal-wrap.form-active{
    display: block;
}
.form {
    position: relative;
}
                /*TEST PAGE*/
.test__title{
    font-size: 35px;
    margin: 0 0 70px;
}
.test-text{
    max-width: 100%;
}
.test{
    margin-top: 0;
}
.test-content_offer{
    margin: 40px 0 0;
    background: #F9F9F9;
    width: 305px;
}
.test__text{
    text-align: center;
    margin-bottom: 30px;
    max-width: 250px;
}
.test-min-title{
    margin: 30px 0 25px;
    font-size: 15px;
}
.test__intro{
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
/*.test__link{*/
/*    color: black;*/
/*    display: flex;*/
/*    margin: 40px 0 0;*/
/*}*/
/*.test__link:hover{*/
/*    transform: scale(1.1);*/
/*    margin-left: 5px;*/
/*}*/
/*.test__link::after{*/
/*    content:'';*/
/*    background: url("../img/test-row.svg") no-repeat center center;*/
/*    width: 20px;*/
/*    height: 15px;*/
/*    align-self: center;*/
/*    margin-left:auto ;*/
/*}*/
.test-changes{
    padding-bottom: 8px;
}
.test-changes-two{
    padding: 20px 0 0 ;
}
.test-changes-two_plus{
    padding: 27px 0 0 ;
}
.arrow-circle {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 0;
}
.arrow-circle .arrow-circle-icon {
    position: relative;
    top: -1px;
    transition: transform 0.3s ease;
    vertical-align: middle;
}
.arrow-circle .arrow-circle-iconcircle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95;
}
.arrow-circle:hover .arrow-circle-icon {
    transform:translate3d(5px, 0, 0);
}
.arrow-circle:hover .arrow-circle-iconcircle {
    stroke-dashoffset: 0;
}
                    /*TEST-OF-PARENT*/
.test__title-parent{
    font-size: 22px;
}
.parent__intro{
    text-align: center;
}
.parent__title-test{
    margin: 30px 0 20px;
    text-align: center;
}
.parent__test-question{
    margin-top: 8px;
}
.parent__title-rusult{
    margin: 25px 0 ;
}
                /*ANIMATION COD*/

.directors-address{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all .8s ease ;
}
._active-animation{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all .8s ease ;
}

._anim-show{
    transform: translate(0px,120%);
    opacity: 0;
    transition: all .8s ease ;
}
._anim-show._active-animation,
._active-animation ._anim-show{
    transform: translate(0px,0px);
    opacity: 1;
}
                /*//PAGE-TALANT-CHILD*/
.talent{
    text-align: inherit;
    margin:  0 0 30px;
}
                /*PAGE-PROFFESIONAL*/
.page-profession{
    margin:  0 0 20px;
}
           /*Questionnaire-about-child-PAGE*/
.test-input-page{
    border: none;
    border-bottom: 1px dashed black;
    outline: none;
    display: inline-block;
    margin-left: 10px;
}
.page-anketa{
    margin: 30px 0 0;
}
            /*PERSONAL-CABINET*/
.development-cabinet{
    padding: 0 0 200px;
}
                /*PAGE-GALLERY*/

.page-gallery-btn{
    border: none;
    background: url("../img/galery-row-down.png") no-repeat center center;
    width: 35px;
    height: 20px;
    cursor: pointer;
}
.offer{
    margin: 35px 0 0;
}
.page-img-offer{
    margin: 35px 20px 0;
}
.title{
    font-size: 35px;
}
.page-gallery-subtitle{
    text-align: center;
    font-size: 15px;
    margin: 25px 0 ;
}
.gallery-filter{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.gallery-filter__link{
    margin: 20px 0 0px;
    display: block;
    color: black;
    font-weight: bold;
    transition:color .5s ease;
}
.gallery-filter__link:hover{
    color: #96BD12;
    transition:color .5s ease;
}
.gallery-filter{
    display: none;
}
.active{
    display: flex;
}